body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

.login-box{
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.login-box h2{
    grid-column:1/-1;
    text-align:center;
    margin-bottom:10px;
}

.login-box button{
    width:100%;
    padding:18px;
    font-size:20px;
    background:#1565c0;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.login-box button:hover{
    background:#0d47a1;
}

/* Mobile */
@media (max-width:768px){
    .login-box{
        grid-template-columns:1fr;
    }
}
